[Input]
file = inputs.txt
tstart = 0ms
tend = 500ms
tstep = 1ms

[Simulation]
command = source ./simulate.do "${duration}"
setup = source /software/scripts/init_msim6.2g
log = log-sim.txt
results = results-VHDL.txt
disable_log = false
clock = 11ns
tstart = 0ns
tend = 600us
tstep = 1ns

[Reference]
executable = cfilter.out
log = log-ref.txt
results = results-C.txt
disable_log = false
tstart = 0ns
tend = 10ns
tstep = 10ns

[Validation]
threshold = 0
