[Input]
file = samples.txt
tstart = 0ms
tend = 1s
tstep = 1ms

[Simulation]
command = source ./simulate_fast.do "${Simulation:duration}"
setup = source /software/scripts/init_msim6.2g
log = log-sim.txt
results = results-VHDL.txt
disable_log = false
clock = 10ns
tstart = 0ns
tend = 20us
tstep = 1ns
duration = ${Simulation:tend}

[Reference]
command = ./cfilter_fast.out "${Input:file}" "${Reference:results}"
log = log-ref.txt
results = results-C.txt
disable_log = false
tstart = ${Simulation:tstart}
tend = ${Simulation:tend}
tstep = ${Simulation:tstep}

[Validation]
threshold = 0
