[Input]
file = 
tstart = 0ms
tend = 1s
tstep = 100us

[Simulation]
command = source ./simulate_MBE.do "${Simulation:duration}"
setup = source /software/scripts/init_msim6.2g
log = log-sim.txt
results = results.hex
disable_log = false
clock_gen = ../tb/clk_gen.vhd
clock = 10ns
tstart = 0ns
tend = 500ns
tstep = 1ns
duration = ${Simulation:tend}

[Reference]
command =
log = log-ref.txt
results = fp_prod.hex
disable_log = false
tstart = ${Simulation:tstart}
tend = ${Simulation:tend}
tstep = ${Simulation:tstep}

[Validation]
threshold = 0
